.sub-nav {
  
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 14px;
  
  a {
    color: darken($brand-primary, 8%);
  }
  
}

.navbar-toggle {
  
  margin-right: 5px;
  
}

.navbar-brand {
  
  font-size: 18px;
  
}