.index-banner {

  
}

.main-blocks {
  
  margin-top: 20px;
  
}

.main-quote {
  
  background-color: #fff;
  padding: 80px 10px;
  margin: 40px 0px;
  
}

.main {
  
  .breadcrumb {
    
    background-color: #fff;
    margin-bottom: 0px;
  }
  
}

.service-questions {
  
  .well {
    
    min-height: 300px;
    
  }
  
}