.index-banner {

  
}

.main-blocks {
  
  margin-top: 20px;
  
}

.main-quote {
  
  background-color: #fff;
  padding: 80px 10px;
  margin: 40px 0px;
  
}

.main {
  
  .breadcrumb {
    
    background-color: #fff;
    margin-bottom: 0px;
  }
  
}

.service-questions {
  
  .well {
    
    min-height: 300px;
    
  }
  
}

.secondary-well {
  
  border: none;
  background-color: $body-bg;
  box-shadow: none;
  
}

.well-title {
  
  padding: 5px 25px;
  background-color: $brand-primary;
  color: white;
  
  h4 {
    
    font-weight: 500;
    
  }
  
}