<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        
        <div class="col-md-4">
          
        </div>
        
        <div class="col-md-4">
          <%= image_tag 'http://www.sth.nhs.uk/images/sheffield-teaching-hospitals.gif', alt: "Logo for Sheffield Teaching Hospitals NHS Foundation Trust" %>
        </div>

      </div>
      
      <div class="row">    
      
      </div>
    </div>
</footer>