<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About us</h4>
          <p>We provide a full range of local hospital and community services for people in Sheffield, as well as specialist care for patients from further afield, including cancer, spinal cord injuries, renal and cardiothoracic services. In addition to community health services, the Trust comprises five of Yorkshire’s best known teaching hospitals</p>
        </div>
        
        <div class="col-md-4">
          <h4>Sitemap</h4>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Payment Information</a></li>
            <li><a href="#">How to find us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Frequently Asked Questions</a></li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <p>A service provided by</p>
          <%= image_tag 'http://www.sth.nhs.uk/images/sheffield-teaching-hospitals.gif', alt: "Logo for Sheffield Teaching Hospitals NHS Foundation Trust" %>
        
          <h4>Additional Information</h4>
          <ul class="list-unstyled">
            <li><a>Privacy Information</a></li>
          </ul>
        </div>

      </div>
      
      <div class="row sub-footer">    
        <p>Copyright 2015 Sheffield Teaching Hospitals NHS Foundation Trust</p><span class="pull-right"><a href="#">Back to top</a></span>
      </div>
    </div>
</footer>