<% content_for :seo do %>
  <title>Private Healthcare Services - Sheffield Teaching Hospitals Private Healthcare</title>
  <meta name="description" content="We currently offer a large array of private healthcare services to Sheffield and the wider area">
  <meta name="keywords" content="private healthcare services, private health, private hospital, private hospital sheffield">
  <meta name="author" content="Sheffield Teaching Hospitals">
<% end %>

<!-- 

We want a sortable jquery list of services 
with featured services in the top row
with the all below in alphabetical order?

-->

<section class="main-title">
  <div class="container">
    <div class="row">
      <h1>Our Services</h1>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        
        <img src="http://placehold.it/800x250" class="img-responsive">
        <div class="well">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_path %></li>
            <li class="active">Private Healthcare Services</li>
          </ol>
        </div>
        
        
        
        <h2 class="text-center">A-Z of Services</h2>
        
        <% @services.each do |s| %>
        <section class="service-container">
          <div class="well" id="<%= s.id %>">
            <%= link_to service_path(s.id) do %>
            <h2 class="service-header"><%= s.title %></h2>
            <% end %>
          </div>
        </section>
        <% end %>
        
      </div>
      
      <div class="col-md-4">
        <div class="well well-phone">
          <h4>Get a call back</h4>
          <p>To book a consultation, or learn more about a particular service, get in touch with our team</p>
          <a href="#" class="btn btn-primary">Contact us</a> <a href="tel:" class="btn btn-link">0114 222 1111</a>
        </div>
        

        
        
        <div class="well">
          <p>We currently offer a large array of private healthcare services to the Sheffield and beyond. Our award-winning Consultant-led services  </p>
        </div>
        
       <div class="well">
          <h4>Popular Services</h4>
          <ul class="list list-unstyled">
            <li><a href="#">Service one</a></li>
          </ul>
        </div>
        
        
      </div>
    </div>
  </div>

</section>