<h1>Services#index</h1>
<p>Find me in app/views/services/index.html.erb</p>

<!-- 

We want a sortable jquery list of services 
with featured services in the top row
with the all below in alphabetical order?

-->