<div class="container">
  <ul class="sub-nav list-inline">
    <li><%= link_to 'Home', root_path %></li> |
    <li><%= link_to 'Contact us', contacts_path %></li> |
    <li><%= link_to 'FAQs', faqs_path %></li>
  </ul>
</div>