<% content_for :seo do %>
  <title>Private Treatment Experience - Sheffield Teaching Hospitals NHS Foundation Trust</title>
  <meta name="description" content="At Sheffield Teaching Hospitals we pride ourselves on providing world-class treatment">
  <meta name="keywords" content="Private treatment, Hospital, Sheffield, NHS, Private Hospital">
  <meta name="author" content="Sheffield Teaching Hospitals">
<% end %>

<section class="top-title">
  <div class="container">
    <div class="row">
      <h2>Payment</h2>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active">Patient Information</li>
      </ol>
    </div>
  </div>
</section>