<% content_for :seo do %>
  <title>Private Treatment Experience - Sheffield Teaching Hospitals NHS Foundation Trust</title>
  <meta name="description" content="At Sheffield Teaching Hospitals we pride ourselves on providing world-class treatment">
  <meta name="keywords" content="Private treatment, Hospital, Sheffield, NHS, Private Hospital">
  <meta name="author" content="Sheffield Teaching Hospitals">
<% end %>