<% content_for :seo do %>
  <title>Private Treatment - Sheffield Teaching Hospitals NHS Foundation Trust</title>
  <meta name="description" content="As well as NHS treatment, Sheffield Teaching Hospitals provides world-class private patient treatment">
  <meta name="keywords" content="Private treatment, Hospital, Sheffield, NHS, Private Hospital">
  <meta name="author" content="Sheffield Teaching Hospitals">
<% end %>

<section class="main-banner">
  <div class="container">
    <div class="row">
      <section class="index-banner">
        <img src="http://placehold.it/1400x400" class="img-responsive">
      </section>
    </div>
  </div>
</section>