<% content_for :seo do %>
  <title>Private Treatment - Sheffield Teaching Hospitals NHS Foundation Trust</title>
  <meta name="description" content="As well as NHS treatment, Sheffield Teaching Hospitals provides world-class private patient treatment">
  <meta name="keywords" content="Private treatment, Hospital, Sheffield, NHS, Private Hospital">
  <meta name="author" content="Sheffield Teaching Hospitals">
<% end %>

<section class="main-banner">
  <div class="container">
    <div class="row">
      <section class="index-banner">
        <img src="http://placehold.it/1400x400" class="img-responsive">
      </section>
    </div>
  </div>
</section>

<section class="main-blocks">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        
        <div class="well">
          <h2>Section Header</h2>
          <p>In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation.</p>
          <a href="#" class="btn btn-primary">This is a button</a>
        </div>
      </div> 
      
      <div class="col-md-4">
      
        <div class="well">
        <h2>Section Header</h2>
        <p>In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation.</p>
        <a href="#" class="btn btn-primary">This is a button</a>
      </div> 
      </div>
      
      <div class="col-md-4">
      
        <div class="well">
        <h2>Section Header</h2>
        <p>In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation.</p>
        <a href="#" class="btn btn-primary">This is a button</a>
      </div>
      </div>
    </div>
  </div>
</section>

<section class=main-quote>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>Section Header</h3>
        <p class="lead">In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation.</p>
      </div>
    </div>
  </div>
</section>


<section class="main-services">
  <div class="container">
    
    <div class="row text-center">
      <h2>Our Services</h2>
      <hr>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <img src="http://placehold.it/600x400" class="img-responsive" width="100%">
        <div class="well">
          <p class="service-header">Sheffield Vision Centre</p>
        </div>
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/600x400" class="img-responsive" width="100%">
        <div class="well">
          <p class="service-header">Sheffield Vision Centre</p>
        </div>
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/600x400" class="img-responsive" width="100%">
        <div class="well">
          <p class="service-header">Sheffield Vision Centre</p>
        </div>
      </div>
      <div class="col-md-3">
        <img src="http://placehold.it/600x400" class="img-responsive" width="100%">
        <div class="well">
          <p class="service-header">See more</p>
        </div>
      </div>
    </div>
  </div>
</section>