<% content_for :seo do %>
  <title>Private Treatment Payment - Sheffield Teaching Hospitals NHS Foundation Trust</title>
  <meta name="description" content="Sheffield Teaching Hospitals offers a ariety of payment methods such as, credit card, pay as you go, health insurance and payment plans">
  <meta name="keywords" content="Private treatment, Payment, Sheffield, NHS, Private Hospital">
  <meta name="author" content="Sheffield Teaching Hospitals">
<% end %>