<% content_for :seo do %>
  <title>Private Treatment Payment - Sheffield Teaching Hospitals NHS Foundation Trust</title>
  <meta name="description" content="Sheffield Teaching Hospitals offers a ariety of payment methods such as, credit card, pay as you go, health insurance and payment plans">
  <meta name="keywords" content="Private treatment, Payment, Sheffield, NHS, Private Hospital">
  <meta name="author" content="Sheffield Teaching Hospitals">
<% end %>

<section class="main-title">
  <div class="container">
    <div class="row">
      <h2>Payment</h2>
    </div>
  </div>
</section>



<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="http://placehold.it/800x300" class="img-responsive">
        
        <div class="well">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_path %></li>
            <li class="active">Payment Information</li>
          </ol>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="well">
          
        </div>
      </div>
    </div>
  </div>

</section>